
<!DOCTYPE html>
<html lang="en-IN" data-website-id="1" data-main-object="website.page(8,)">
    <head>
        <meta charset="utf-8"/>
        <link rel="canonical" href="/"/>
        
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin=""/>
        <title> Home | CardioTech </title>
        <link type="image/x-icon" rel="shortcut icon" href="https://cardiotech1.odoo.com/web/image/website/1/favicon?unique=af99418"/>
        <link rel="preload" href="/web/static/src/libs/fontawesome/fonts/fontawesome-webfont.woff2?v=4.7.0" as="font" crossorigin=""/>
        <link type="text/css" rel="stylesheet" href="https://cardiotech1.odoo.com/web/assets/1/e2780af/web.assets_frontend.min.css"/>
        <script id="web.layout.odooscript" type="text/javascript">
            var odoo = {
                csrf_token: "6862c02a849fd2b6d23e2928731278081b47a2f4o1746105540",
                debug: "",
            };
        </script>
        <script type="text/javascript">
            odoo.__session_info__ = {"is_admin": false, "is_system": false, "is_website_user": true, "user_id": false, "is_frontend": true, "profile_session": null, "profile_collectors": null, "profile_params": null, "show_effect": true, "currencies": {"20": {"symbol": "\u20b9", "position": "before", "digits": [69, 2]}}, "bundle_params": {"lang": "en_US", "website_id": 1}, "test_mode": false, "translationURL": "/website/translations", "cache_hashes": {"translations": "f9db36c744ac2badad53c5972a98978ed5aec512"}, "geoip_country_code": "IN", "geoip_phone_code": 91, "lang_url_code": "en_IN"};
            if (!/(^|;\s)tz=/.test(document.cookie)) {
                const userTZ = Intl.DateTimeFormat().resolvedOptions().timeZone;
                document.cookie = `tz=${userTZ}; path=/`;
            }
        </script>
        <script type="text/javascript" defer="defer" src="https://cardiotech1.odoo.com/web/assets/1/24a4408/web.assets_frontend_minimal.min.js" onerror="__odooAssetError=1"></script>
       
        
    </head>
    <body>



        <div id="wrapwrap" class="   ">
                <header id="top" data-anchor="true" data-name="Header" data-extra-items-toggle-aria-label="Extra items button">
                    
                <div class="container py-3 px-0">
    <nav data-name="Navbar" aria-label="Main" class="navbar navbar-expand-lg navbar-light o_colored_level o_cc o_full_border d-none d-lg-block rounded-pill py-2 px-3 shadow-sm ">
        

                <div id="o_main_nav" class="o_main_nav container">
                    
    <a data-name="Navbar Logo" href="/" class="navbar-brand logo me-4">
            
            <span role="img" aria-label="Logo of CardioTech" title="CardioTech"><img src="https://cardiotech1.odoo.com/web/image/website/1/logo/CardioTech?unique=af99418" class="img img-fluid" width="95" height="40" alt="CardioTech" loading="lazy"/></span>
        </a>
    
                    
    <ul role="menu" id="top_menu" class="nav navbar-nav top_menu o_menu_loading me-auto nav-pills">
        

                        
    <li role="presentation" class="nav-item">
        <a role="menuitem" href="/" class="nav-link active">
            <span>Home</span>
        </a>
    </li>
    <li role="presentation" class="nav-item">
        <a role="menuitem" href="/f" class="nav-link ">
            <span>Predict</span>
        </a>
    </li>
   
                    
    </ul>
                    
                    <ul class="navbar-nav align-items-center gap-1 flex-wrap flex-shrink-0 justify-content-end ps-3">
                        
        <li class="">
                <div class="modal fade" id="o_search_modal" aria-hidden="true" tabindex="-1">
                    <div class="modal-dialog modal-lg pt-5">
                        <div class="modal-content mt-5">
    <form method="get" class="o_searchbar_form o_wait_lazy_js s_searchbar_input " action="/website/search" data-snippet="s_searchbar_input">
            <div role="search" class="input-group input-group-lg">
        <input type="search" name="search" class="search-query form-control oe_search_box border-0 bg-light border border-end-0 p-3" placeholder="Search..." data-search-type="all" data-limit="5" data-display-image="true" data-display-description="true" data-display-extra-link="true" data-display-detail="true" data-order-by="name asc"/>
        <button type="submit" aria-label="Search" title="Search" class="btn oe_search_button border border-start-0 px-4 bg-o-color-4">
            <i class="oi oi-search"></i>
        </button>
    </div>

            <input name="order" type="hidden" class="o_search_order_by" value="name asc"/>
            
    
        </form>
                        </div>
                    </div>
                </div>
                <a data-bs-target="#o_search_modal" data-bs-toggle="modal" role="button" title="Search" href="#" class="btn rounded-circle p-1 lh-1 o_navlink_background text-reset o_not_editable">
                    <i class="oi oi-search fa-stack lh-lg"></i>
                </a>
        </li>
                        
        <li class="">
                <div data-name="Text" class="s_text_block ">
                    <a href="tel:+1 (650) 555-0111" class="nav-link o_nav-link_secondary p-2">
                        <i class="fa fa-1x fa-fw fa-phone me-1"></i>
                        <span class="o_force_ltr"><small>+1 (650) 555-0111</small></span>
                    </a>
                </div>
        </li>
                        
                        
        <li data-name="Language Selector" class="o_header_language_selector ">
        
        
        </li>
                        
            <li class=" o_no_autohide_item">
                <a href="/web/login" class="btn btn-outline-secondary rounded-circle px-3">Sign in</a>
            </li>
                        
        
        
                        
        <li class="">
            <div class="oe_structure oe_structure_solo ">
                <section class="oe_unremovable oe_unmovable s_text_block" data-snippet="s_text_block" data-name="Text">
                    <div class="container">
                        <a href="/contactus" class="oe_unremovable btn btn-primary btn_cta w-100 w-100 w-100 w-100 w-100 w-100 w-100"><span data-o-link-zws="start" contenteditable="false">​</span>Contact Us</a>
                    </div>
                </section>
            </div>
        </li>
                    </ul>
                </div>
            
    </nav>
    <nav data-name="Navbar" aria-label="Mobile" class="navbar  navbar-light o_colored_level o_cc o_header_mobile d-block d-lg-none shadow-sm o_full_border mx-1 rounded-pill">
        

        <div class="o_main_nav container flex-wrap justify-content-between">
            
    <a data-name="Navbar Logo" href="/" class="navbar-brand logo ">
            
            <span role="img" aria-label="Logo of CardioTech" title="CardioTech"><img src="https://cardiotech1.odoo.com/web/image/website/1/logo/CardioTech?unique=af99418" class="img img-fluid" width="95" height="40" alt="CardioTech" loading="lazy"/></span>
        </a>
    
            <ul class="o_header_mobile_buttons_wrap navbar-nav flex-row align-items-center gap-2 mb-0">
                <li>
                    <button class="nav-link btn me-auto p-2 o_not_editable" type="button" data-bs-toggle="offcanvas" data-bs-target="#top_menu_collapse_mobile" aria-controls="top_menu_collapse_mobile" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </li>
            </ul>
            <div id="top_menu_collapse_mobile" class="offcanvas offcanvas-end o_navbar_mobile">
                <div class="offcanvas-header justify-content-end o_not_editable">
                    <button type="button" class="nav-link btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body d-flex flex-column justify-content-between h-100 w-100">
                    <ul class="navbar-nav">
                        
        <li class="">
    <form method="get" class="o_searchbar_form o_wait_lazy_js s_searchbar_input " action="/website/search" data-snippet="s_searchbar_input">
            <div role="search" class="input-group mb-3">
        <input type="search" name="search" class="search-query form-control oe_search_box border-0 bg-light rounded-start-pill text-bg-light ps-3" placeholder="Search..." data-search-type="all" data-limit="0" data-display-image="true" data-display-description="true" data-display-extra-link="true" data-display-detail="true" data-order-by="name asc"/>
        <button type="submit" aria-label="Search" title="Search" class="btn oe_search_button rounded-end-pill bg-o-color-3 pe-3">
            <i class="oi oi-search"></i>
        </button>
    </div>

            <input name="order" type="hidden" class="o_search_order_by" value="name asc"/>
            
    
        </form>
        </li>
                        
    <ul role="menu" class="nav navbar-nav top_menu   nav-pills">
        

                            
    <li role="presentation" class="nav-item">
        <a role="menuitem" href="/" class="nav-link active">
            <span>Home</span>
        </a>
    </li>
    <li role="presentation" class="nav-item">
        <a role="menuitem" href="/f" class="nav-link ">
            <span>Predict</span>
        </a>

                        
    </ul>
                        
        <li class="">
                <div data-name="Text" class="s_text_block mt-2 border-top pt-2 o_border_contrast">
                    <a href="tel:+1 (650) 555-0111" class="nav-link o_nav-link_secondary p-2">
                        <i class="fa fa-1x fa-fw fa-phone me-1"></i>
                        <span class="o_force_ltr"><small>+1 (650) 555-0111</small></span>
                    </a>
                </div>
        </li>
                        
                    </ul>
                    <ul class="navbar-nav gap-2 mt-3 w-100">
                        
            <li class=" o_no_autohide_item">
                <a href="login.html" class="btn btn-outline-secondary w-100">Sign in</a>
            </li>
                        
        
        
                        
        <li data-name="Language Selector" class="o_header_language_selector ">
        
        
        </li>
                        
        <li class="">
            <div class="oe_structure oe_structure_solo ">
                <section class="oe_unremovable oe_unmovable s_text_block" data-snippet="s_text_block" data-name="Text">
                    <div class="container">
                        <a href="/contactus" class="oe_unremovable btn btn-primary btn_cta w-100 w-100 w-100 w-100 w-100 w-100 w-100 w-100"><span data-o-link-zws="start" contenteditable="false">​</span>Contact Us</a>
                    </div>
                </section>
            </div>
        </li>
                    </ul>
                </div>
            </div>
        </div>
    
    </nav>
        </div>
    
        </header>
                <main>
                    
        <div id="wrap" class="oe_structure oe_empty"><section class="s_text_cover o_colored_level o_full_screen_height" data-snippet="s_text_cover" data-name="Text Cover">
        <div class="container-fluid">
            <div class="row">
                <div class="o_colored_level col-lg-5 px-5 pb0 pt80 o_cc o_cc4 bg-black-75">
                    <h2><font class="text-gradient o_default_snippet_text" style="background-image: linear-gradient(135deg, var(--o-color-1) 0%, var(--o-color-2) 100%);">Innovative Heart Disease Prediction</font></h2>
                    <blockquote>At Cardio tech, we use cutting-edge technology to predict heart disease through symptoms. Our unique services offer a valuable and accurate prediction of heart disease based on your provided data. Let us help you take control of your heart health today<br/></blockquote><a title="" data-bs-original-title="" class="btn btn-custom btn-lg" href="/f" target="_blank" style="border-width: 1px; border-style: solid; background-image: linear-gradient(135deg, rgb(47, 128, 237) 0%, rgb(178, 255, 218) 100%);">Know Y​​​​​​our Health​</a>
                    </div>
                <div class="o_not_editable o_colored_level o_cc o_cc1 pt160 pb160 col-lg-7 d-none d-md-block oe_img_bg o_bg_img_center" style="background-image: url(&#34;https://static.vecteezy.com/system/resources/previews/022/906/616/non_2x/blue-heart-shaped-as-computer-circuit-board-postproducted-generative-ai-digital-illustration-free-photo.jpg&#34;) !important;" data-mimetype="image/jpeg" data-original-id="279" data-original-src="/web/image/279-10341e6f/blue-heart-shaped-as-computer-circuit-board-postproducted-generative-ai-digital-illustration-free-photo.jpg" data-mimetype-before-conversion="image/jpeg" data-resize-width="1699"></div>
            </div>
        </div>

    </section><section class="s_title o_cc o_cc2 o_colored_level pt32 pb24" data-vcss="001" data-snippet="s_title" data-name="Title">
        <div class="container s_allow_columns">
            <h2 class="display-3-fs o_default_snippet_text" style="text-align: center;"><font class="text-gradient" style="background-image: linear-gradient(135deg, rgb(255, 222, 69) 0%, rgb(69, 33, 0) 100%);">About Us</font></h2>
        </div>
    </section>
<section class="s_three_columns o_cc pt32 pb32 o_colored_level o_cc3" data-vcss="001" data-snippet="s_three_columns" data-name="Columns">
        <div class="container">
            <div class="row d-flex align-items-stretch">
                <div class="col-lg-4 s_col_no_bgcolor pt16 pb16">
                    <div class="card text-bg-white h-100">
                        <img src="https://cardiotech1.odoo.com/web/image/324-0c0d2b6a/heart-brain-health-tech-neurosicence%20%281%29.webp" alt="" class="card-img-top img img-fluid o_we_custom_image" data-mimetype="image/webp" data-original-id="259" data-original-src="/web/image/259-207109d5/heart-brain-health-tech-neurosicence%20%281%29.webp" data-mimetype-before-conversion="image/webp" data-resize-width="1200" loading="lazy"/>
                        <div class="card-body">
                            <h3 class="card-title">Our Story
    </h3><p class="card-text o_default_snippet_text">
        CardioTech Predictions emerged from a collective vision to tackle the immense burden of cardiovascular disease globally. It all started with a deep understanding of the profound impact heart disease has on individuals, families, and communities worldwide.&nbsp;
    </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 s_col_no_bgcolor pt16 pb16">
                    <div class="card text-bg-white h-100">
                        <img src="https://cardiotech1.odoo.com/web/image/263-622595cf/anatomical-heart_1007543-10244.webp" alt="" class="card-img-top img img-fluid o_we_custom_image" data-mimetype="image/webp" data-original-id="261" data-original-src="/web/image/261-7837e517/anatomical-heart_1007543-10244.jpg" data-mimetype-before-conversion="image/jpeg" data-resize-width="626" loading="lazy"/>
                        <div class="card-body">
                            <h3 class="card-title o_default_snippet_text">
        Our Mission</h3>
                            <p class="card-text o_default_snippet_text">At CardioTech&nbsp;Predictions, we understand the importance of early detection and proactive management in preventing heart disease, a leading cause of mortality worldwide. Our mission is to empower individuals with personalized insights into their cardiovascular health, enabling them to take proactive steps towards a healthier lifestyle.<br/></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 s_col_no_bgcolor pt16 pb16">
                    <div class="card text-bg-white h-100">
                        <img src="https://cardiotech1.odoo.com/web/image/325-8c8c4518/closeup-hands-forming-heart-shape-with-generative-ai_883586-181560.jpg" alt="" class="card-img-top img img-fluid o_we_custom_image" data-mimetype="image/jpeg" data-original-id="258" data-original-src="/web/image/258-a71dca0a/closeup-hands-forming-heart-shape-with-generative-ai_883586-181560.jpg" data-mimetype-before-conversion="image/jpeg" data-resize-width="626" loading="lazy"/>
                        <div class="card-body">
                            <h3 class="card-title">Our Values</h3>
                            <p class="card-text o_default_snippet_text">We are committed to transparency and accuracy in our predictions, continually refining our algorithms based on the latest medical research and real-world data. Our goal is to empower individuals, healthcare professionals, and organizations with the tools they need to make informed decisions and reduce the burden of heart disease on society.<br/></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section></div>
    
        <div id="o_shared_blocks" class="oe_unremovable"></div>
                </main>
                <footer id="bottom" data-anchor="true" data-name="Footer" class="o_footer o_colored_level o_cc ">
                    <div id="footer" class="oe_structure oe_structure_solo">
            <section class="s_text_block" data-snippet="s_text_block" data-name="Text">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-2 pt16 pb16 o_colored_level">
                            <a href="/" class="o_footer_logo logo" data-bs-original-title="" title="">
                                <img src="https://cardiotech1.odoo.com/web/image/284-c0ca9715/Screenshot%20%2834%29.webp" alt="" class="img-fluid mx-auto img o_we_custom_image" data-mimetype="image/webp" data-original-id="283" data-original-src="/web/image/283-eb66b129/Screenshot%20%2834%29.png" data-mimetype-before-conversion="image/png" data-resize-width="569" loading="lazy"/>
                            </a>
                        </div>
                        <div class="col-lg-5 d-flex align-items-center justify-content-center justify-content-lg-start pt16 pb16 o_colored_level">
                            <ul class="list-inline mb-0 ms-3">
                                <li class="list-inline-item"><a href="/">Home</a></li>
                                <li class="list-inline-item"><a href="/">About us</a></li>
                                
                            </ul>
                        </div>
                        
                        <div class="col-lg-2 pt16 pb16">
                            <a href="/contactus" class="btn btn-block btn-primary">Get in touch</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    <div class="o_footer_copyright o_colored_level o_cc" data-name="Copyright">
                        <div class="container py-3">
                            <div class="row">
                                <div class="col-sm text-center text-sm-start text-muted">
                                    <span class="o_footer_copyright_name me-2">Copyright © Cardio Tech</span>
        
        
    </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        
        </body>
</html>